
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document upload and export</title>
</head>
<body>
	<form action="{% url 'export' %}">
		<button type="submit">Generate Excel</button>
	</form>
	 
	<form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
		{% csrf_token %}
		
		<button type="submit">Upload Excel</button>
		<input type="file" name="myfile">
	 </form>
</body>
</html>